{% extends 'base.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
<form method="post">
   <div class="container">
      <div class="card-panel z-depth-5">
         <div class="row margin">
            <div class="col s12 m12 l12 center">
               <img src="{{ asset('img/3326308b-c8a9-4eb4-8317-510bda55519d_200x200.png') }}"
                  alt="" class="responsive-img" style="width:200px;">
               <p class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</p>
               {% if error %}
               <script>
                  M.toast({html: '{{ error.messageKey|trans(error.messageData, 'security') }}', classes: 'alert alert-danger'});
               </script>
               {% endif %}
            </div>
         </div>
         <div class="col s12 m12 l12">
            <div class="input-field">
               <i class="material-icons prefix">person</i>
               <label for="inputEmail">{% trans %}Email{% endtrans %}</label>
               <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            </div>
         </div>
         <div class="col m12 l12">
            <div class="input-field">
               <i class="material-icons prefix">lock</i>
               <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
               <input type="password" name="password" id="inputPassword" class="form-control" required>
               <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
         </div>
         <div class="left">
            <p>
               <label>
               <input id="remember_me" name="_remember_me" type="checkbox" />
               <span for="remember_me">Remember me</span>
               </label>
            </p>
         </div>
         <br><br>
         <div class="center">
            <button type="submit" 
               class="btn waves-effect waves-light " 
               style="width:100%; background-color: #ff4081;">{% trans %}Sign in{% endtrans %}</button>
               <p>or</p>
               <div class="row">
               <p class="center-align"><a href="{{ path('connect_google') }}" class="waves-effect waves-light red btn-large z-depth-3">Sign in with Google</a></p>
               <p class="center-align"><a href="{{ path('connect_azure') }}" class="waves-effect waves-light blue btn-large z-depth-3">Sign in with Azure</a></p>
         </div>
         <div class="" style="font-size:14px;"><br>
            <a href="{{ path('app_register') }}" class="left">Don't have an account? Register Now!</a>
            <a href="" class="right ">You lost your password?</a>
         </div>
         <br>
      </div>
   </div>
</form>
{% endblock %}